
.auth-form {
    position: absolute;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .field {
        width: 100%;

        .error {
            color: red;
        }
    }
}


@media only screen and (max-width: 500px) { 
    .auth-form{
    width: 400px;
    }
}

@media only screen and (max-width: 400px) { 
    .auth-form{
    width: 300px;
    }
}


